.main {
    width: 70%;
    height: max-content;
    margin: auto;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(14, minmax(100px, 1fr));
}
.image {
    margin-top: 20px;
    margin-left: 40px;
    grid-column-start: 2;
    grid-column-end: 4;
    width: 100px;
    height: 100px;
}
.content {
    margin: 10px 50px;
    grid-column-start: 4;
    grid-column-end: 13;
    text-align: center;
}
.nav {
    grid-row-start: 4;
    grid-column-start: 2;
}
.content1 {
    color: var(--headerPrimary);
    font-size: 27px;
}
.content2 {
    color: var(--headerSecondary);
    font-size: 24px;
}
